/* Inputs */

input, label {
    font-size: 20px;
}

input[type=text], input[type=password], input[type=email] {
    color: var(--text-color);
    outline: none;
    width: 100%;
    padding: 12px 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;

    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--background-d);
    border-radius: 5px;

    background-image: linear-gradient(to right, var(--background-b) 0%, var(--background-c) 100%);

    transition: border 0.2s linear;
}

input[type=text]:focus-visible, input[type=password]:focus-visible,
input[type=email]:focus-visible {
    border-color: var(--colorfull-light);
    box-shadow: 0 0 20px var(--background-c);
}

.input-negative {
    border-color: var(--negative-color) !important;
}

.w-40 {
    width: 40%;
}
.w-96 {
    width: 96%;
}

input[type=button] {
    color: var(--colorfull-text);
    margin: 0 2%;
    padding: 10px 0;
    border-radius: 20px;
    transition-duration: 0.2s;
    background-image: linear-gradient(to right, var(--colorfull) 0%, var(--colorfull-light)  51%, var(--colorfull)  100%);
    background-size: 200% auto;
    outline: 0;
    border: 0;
    box-shadow: 0 0 20px var(--background-c);
}


input[type=button]:hover {
    background-position: right center;
}

/* Container */

.container {
    vertical-align: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    width: 50%;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 600px) {
    .container {
        width: 90% !important;
    }
}

/* Header */
.header {
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    text-shadow: 0 0 5px var(--text-color-secondary);
}

html, body {
    background: linear-gradient(to bottom right, var(--background-a), var(--background-b));
    background-attachment: fixed; /*edit*/

    color: var(--text-color);
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

